<%= form_with(model: @tweet, local: true) do |form| %>
  <div class="img-upload">
      <div class="weight-bold-text">
        画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= form.file_field :image, id:"tweet-image" %>
      </div>
   </div>
  <%= form.text_area :name, class:"title", id:"tweet-title", placeholder: "title"%>
  <%= form.text_area :text, class:"text", id:"tweet-text", placeholder: "text"%>
  <%= form.submit "SEND" %>
<% end %>
